<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
</head>
<body>
    <h1>Modificar Usuario</h1>
    <form action="/modificar_usuario" method="post">
        <label for="nombre_usuario_actual">Nombre de Usuario a Modificar:</label><br>
        <input type="text" id="nombre_usuario_actual" name="nombre_usuario_actual"><br><br>
        <label for="nuevo_nombre_usuario">Nuevo Nombre de Usuario:</label><br>
        <input type="text" id="nuevo_nombre_usuario" name="nuevo_nombre_usuario"><br><br>
        <input type="submit" value="Modificar Usuario">
    </form>
</body>
</html>
